<div id="projects-section" class="root-container">
  <div class="section-content-container">
    <h2 class="section-heading">Projects</h2>
    <div class="projects-wrapper">
      <div class="project">
        <a class="project-image-link"><div class="project-image ve"></div></a>
        <div class="project-info">
          <div class="main-info">
            <h3 class="project-title">Video Editor Portfolio</h3>
            <p class="project-description">React JS | Nov 2023</p>
          </div>
          <a href=""
            ><mat-icon
              aria-hidden="false"
              aria-label="Link icon"
              fontIcon="arrow_outward"
            ></mat-icon
          ></a>
        </div>
      </div>
      <div class="project">
        <a class="project-image-link"><div class="project-image ac"></div></a>
        <div class="project-info">
          <div class="main-info">
            <h3 class="project-title">Video Editor Portfolio</h3>
            <p class="project-description">React JS | Nov 2023</p>
          </div>
          <a href=""
            ><mat-icon
              aria-hidden="false"
              aria-label="Link icon"
              fontIcon="arrow_outward"
            ></mat-icon
          ></a>
        </div>
      </div>
      <div class="project">
        <a class="project-image-link"><div class="project-image sc"></div></a>
        <div class="project-info">
          <div class="main-info">
            <h3 class="project-title">Video Editor Portfolio</h3>
            <p class="project-description">React JS | Nov 2023</p>
          </div>
          <a href=""
            ><mat-icon
              aria-hidden="false"
              aria-label="Link icon"
              fontIcon="arrow_outward"
            ></mat-icon
          ></a>
        </div>
      </div>
    </div>
  </div>
</div>
