<div id="projects-section" class="root-container">
  <div class="section-content-container">
    <h2 class="section-heading">Projects</h2>
    <div class="projects-wrapper">
      <div class="project">
        <a
          class="project-image-link"
          href="https://bionthefly.wixstudio.io/roots"
          target="_blank"
          ><div class="project-image ps"></div
        ></a>
        <div class="project-info">
          <div class="main-info">
            <h3 class="project-title">Private School</h3>
            <p class="project-description">Wix Studio | August 2024</p>
          </div>
          <a href="https://bionthefly.wixstudio.io/roots" target="_blank"
            ><mat-icon
              aria-hidden="false"
              aria-label="Link icon"
              fontIcon="arrow_outward"
            ></mat-icon
          ></a>
        </div>
      </div>
      <div class="project">
        <a
          class="project-image-link"
          href="https://bionthefly.wixstudio.io/sailing-school"
          target="_blank"
          ><div class="project-image ss"></div
        ></a>
        <div class="project-info">
          <div class="main-info">
            <h3 class="project-title">Sailing School</h3>
            <p class="project-description">Wix Studio | June 2024</p>
          </div>
          <a
            href="https://bionthefly.wixstudio.io/sailing-school"
            target="_blank"
            ><mat-icon
              aria-hidden="false"
              aria-label="Link icon"
              fontIcon="arrow_outward"
            ></mat-icon
          ></a>
        </div>
      </div>
      <div class="project">
        <a
          class="project-image-link"
          href="https://www.boatrentalslv.ca/"
          target="_blank"
          ><div class="project-image br"></div
        ></a>
        <div class="project-info">
          <div class="main-info">
            <h3 class="project-title">Boat Rental</h3>
            <p class="project-description">Wix Studio | April 2024</p>
          </div>
          <a href="https://www.boatrentalslv.ca/" target="_blank"
            ><mat-icon
              aria-hidden="false"
              aria-label="Link icon"
              fontIcon="arrow_outward"
            ></mat-icon
          ></a>
        </div>
      </div>
    </div>
  </div>
</div>
