<div id="contact-section" class="root-container">
  <div class="light-bar"></div>
  <div class="section-content-container">
    <h2 class="section-heading">Let's make it happen</h2>
    <div class="contact-details">
      <div class="contact">
        <p class="top">Email</p>
        <p class="bottom">
          <a href="mailto:tomav98@gmail.com">{{ "tomav98@gmail.com" }}</a>
        </p>
      </div>
      <div class="contact">
        <p class="top">Hiring</p>
        <p class="bottom">
          <a href="http://bit.ly/vt-webdev" target="_blank">{{
            "http://bit.ly/vt-webdev"
          }}</a>
        </p>
      </div>
      <div class="contact">
        <p class="top">GitHub</p>
        <p class="bottom">
          <a href="https://github.com/VT71" target="_blank">{{
            "https://github.com/VT71"
          }}</a>
        </p>
      </div>
    </div>
  </div>
</div>
