.root-container {
  background-image: url("../../assets/intro-section.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.light-bar {
  height: 2px;
  width: 100%;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 3px 20px 0px rgba(255, 255, 255, 1);
  -moz-box-shadow: 0px 3px 20px 0px rgba(255, 255, 255, 1);
  box-shadow: 0px 3px 20px 0px rgba(255, 255, 255, 1);
}

.contact-details {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #ffffff;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
}

.contact p {
  margin: 0;
}

.contact > .top {
  font-family: "ubuntu-light";
  font-size: 1.6rem;
}

.contact > .bottom {
  font-family: "ubuntu-regular";
  font-size: 0.9rem;
  cursor: pointer;
}

.contact > .bottom a {
    text-decoration: none;
    color: #ffffff;
}
