.root-container {
  height: 100vh;
  background-image: url("../../../assets/intro-section.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-content-container {
  height: 100%;
  padding-top: 3rem;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.navbar {
  width: fit-content;
}

.navbar-wrapper {
  width: fit-content;
  position: absolute;
  top: 3rem;
}

.navlinks-list {
  width: auto;
  margin: 0;
  padding: 0;
  margin: auto;
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  justify-content: center;
  row-gap: 1rem;
}

.navlink {
  text-decoration: none;
  color: #f4f2f2ce;
  font-family: "ubuntu-medium";
  background: none;
  position: relative;
  transition: text-shadow 0.3s, color 0.3s;
}

.navlink-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.reflection {
  width: 1px;
  height: 1px;
  position: absolute;
  left: 50%;
  top: 50%;
  text-align: center;
  transition: box-shadow 0.8s;
}

.navlink-container.active > .reflection {
  box-shadow: 0px 0px 110px 200px #ffffff0f;
}

.navlink-container.active > .navlink,
.navlink:hover {
  color: #ffffff;
  text-shadow: 0px 0px 30px #ffffff;
}

.navlinks-list-item {
  /* margin: 0 2rem; */
  width: 7rem;
  display: flex;
  justify-content: center;
}

.navbar-line {
  background-color: #8c8c8c;
  height: 2px;
  width: 100%;
  margin-top: 1rem;
  width: 7rem;
  transition: background-color 0.8s, box-shadow 0.8s;
}

.navbar-line.first {
  border-radius: 1px 0px 0px 1px;
}

.navbar-line.last {
  border-radius: 0px 1px 1px 0px;
}

.navlink-container.active > .navbar-line {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 10px 0px #ffffff;
}

.intro-heading {
  color: #ffffff;
  font-family: "ubuntu-medium";
  font-size: 1.4rem;
  text-align: center;
}

.carattere {
  font-family: carettere;
  font-size: 2.5rem;
  font-weight: normal;
}

.stats-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  margin-top: 1.5rem;
}

.stat-container {
  color: #ffffff;
  font-family: "ubuntu-medium";
  font-size: 0.8rem;
  width: 150px;
  text-align: center;
}

.main-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 2.5rem;
}

.main-button {
  width: 130px;
  height: 40px;
  border-radius: 8px;
  border: 1.5px solid #8c8c8c;
  background-color: #262626;
  color: #ffffff;
  cursor: pointer;
  font-size: 0.9rem;
  -webkit-box-shadow: 0px 0px 10px -4px rgba(255, 255, 255, 1);
  -moz-box-shadow: 0px 0px 10px -4px rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 10px -4px rgba(255, 255, 255, 1);
  transition: box-shadow 0.3s, border 0.3s, background-color 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.main-button:hover {
  border: 1.5px solid #ffffff;
  background-color: #2e2e2e;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 1);
}

.main-button:active {
  -webkit-box-shadow: 0px 0px 10px -4px rgba(255, 255, 255, 1);
  -moz-box-shadow: 0px 0px 10px -4px rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 10px -4px rgba(255, 255, 255, 1);
}

.icon-button.navbar {
  background: none;
  border: none;
  color: #ffffff;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.icon-button.navbar > mat-icon {
  font-size: 2rem;
  overflow: visible;
  transition: text-shadow 0.2s;
}

.icon-button.navbar > mat-icon:active {
  text-shadow: 0px 0px 8px #cecece;
}

.mobile-navbar-container {
  width: 100%;
  height: 100%;
  background-color: #0d0d0d;
  position: absolute;
  left: 101%;
  transition: left 2s ease-in-out;
}

@media screen and (max-width: 599.98px) {
  .intro-heading {
    font-size: 1.2rem;
  }
  .carattere {
    font-size: 1.8rem;
  }
  .main-button {
    width: calc(50% - 0.5rem);
  }
  .main-button:nth-last-child(1) {
    width: 100%;
  }
  .mobile-navbar-container.open {
    left: 0;
  }
  .stat-container {
    font-size: 0.7rem;
  }
}
