<div id="intro-section" class="root-container">
  <div class="section-content-container">
    <div class="navbar-wrapper">
      <nav class="navbar">
        <ol class="navlinks-list">
          <li class="navlinks-list-item">
            <div class="navlink-container active">
              <div class="reflection"></div>
              <a class="navlink" href="#intro-section">Intro</a>
              <div class="navbar-line first intro"></div>
            </div>
          </li>
          <li class="navlinks-list-item">
            <div class="navlink-container">
              <div class="reflection"></div>
              <a class="navlink" href="#intro-section">Projects</a>
              <div class="navbar-line"></div>
            </div>
          </li>
          <li class="navlinks-list-item">
            <div class="navlink-container">
              <div class="reflection"></div>
              <a class="navlink" href="#intro-section">Reviews</a>
              <div class="navbar-line"></div>
            </div>
          </li>
          <li class="navlinks-list-item">
            <div class="navlink-container">
              <div class="reflection"></div>
              <a class="navlink" href="#intro-section">Quote</a>
              <div class="navbar-line"></div>
            </div>
          </li>
          <li class="navlinks-list-item">
            <div class="navlink-container">
              <div class="reflection"></div>
              <a class="navlink" href="#intro-section">Contact</a>
              <div class="navbar-line last"></div>
            </div>
          </li>
        </ol>
      </nav>
    </div>
  </div>
</div>
