<div id="intro-section" class="root-container">
  <div class="section-content-container">
    @if (breakPointPromise$ | async; as mobileDevice) {
    <button class="icon-button navbar" (click)="handleMobileNavDisplay()">
      <mat-icon
        aria-hidden="false"
        aria-label="Menu Button"
        fontIcon="menu"
      ></mat-icon>
    </button>
    <div class="mobile-navbar-container" [class.open]="mobileNavOpen"></div>
    } @else {
    <div class="navbar-wrapper">
      <nav class="navbar">
        <ol class="navlinks-list">
          <li class="navlinks-list-item">
            <div
              class="navlink-container"
              [class.active]="activeNavLink === 'intro'"
            >
              <div class="reflection"></div>
              <a
                class="navlink"
                href="#intro-section"
                (click)="onClickNav('intro')"
                >Intro</a
              >
              <div class="navbar-line first intro"></div>
            </div>
          </li>
          <li class="navlinks-list-item">
            <div
              class="navlink-container"
              [class.active]="activeNavLink === 'projects'"
            >
              <div class="reflection"></div>
              <a
                class="navlink"
                href="#projects-section"
                (click)="onClickNav('projects')"
                >Projects</a
              >
              <div class="navbar-line"></div>
            </div>
          </li>
          <li class="navlinks-list-item">
            <div
              class="navlink-container"
              [class.active]="activeNavLink === 'reviews'"
            >
              <div class="reflection"></div>
              <a
                class="navlink"
                href="#reviews-section"
                (click)="onClickNav('reviews')"
                >Reviews</a
              >
              <div class="navbar-line"></div>
            </div>
          </li>
          <li class="navlinks-list-item">
            <div
              class="navlink-container"
              [class.active]="activeNavLink === 'quote'"
            >
              <div class="reflection"></div>
              <a
                class="navlink"
                href="#quote-section"
                (click)="onClickNav('quote')"
                >Quote</a
              >
              <div class="navbar-line"></div>
            </div>
          </li>
          <li class="navlinks-list-item">
            <div
              class="navlink-container"
              [class.active]="activeNavLink === 'contact'"
            >
              <div class="reflection"></div>
              <a
                class="navlink"
                href="#contact-section"
                (click)="onClickNav('contact')"
                >Contact</a
              >
              <div class="navbar-line last"></div>
            </div>
          </li>
        </ol>
      </nav>
    </div>
    }
    <div class="intro-text-wrapper">
      <h2 class="intro-heading">
        Hi, I'm Victor
        <br />
        passionate about creating
        <span class="carattere">beautiful websites</span>
      </h2>
      <div class="stats-container">
        <div class="stat-container">
          <mat-icon
            aria-hidden="false"
            aria-label="Check icon"
            fontIcon="check_circle"
          ></mat-icon>
          <p>100% Job Success Score on Upwork</p>
        </div>

        <div class="stat-container">
          <mat-icon
            aria-hidden="false"
            aria-label="Badge icon"
            fontIcon="workspace_premium"
          ></mat-icon>
          <p>Ranked top 10% of all Upwork talent</p>
        </div>
      </div>
      <div class="main-buttons-container">
        <a
          class="main-button"
          href="#quote-section"
          (click)="onClickNav('quote')"
        >
          Get a Quote
        </a>
        <a
          class="main-button"
          href="#contact-section"
          (click)="onClickNav('contact')"
        >
          Let's talk
        </a>
        <a class="main-button" href="http://bit.ly/vt-webdev" target="_blank">
          Hire Options
        </a>
      </div>
    </div>
  </div>
</div>
