.root-container {
  height: 100vh;
  background-image: url("../../../assets/intro-section.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-content-container {
  height: 100%;
  padding-top: 3rem;
}

.navbar {
  width: fit-content;
}

.navbar-wrapper {
  width: fit-content;
  margin: auto;
}

.navlinks-list {
  width: auto;
  margin: 0;
  padding: 0;
  margin: auto;
  display: flex;
  flex-direction: row;
}

.navlink {
  text-decoration: none;
  color: #f4f2f2ce;
  font-family: "ubuntu-medium";
  background: none;
  position: relative;
  transition: text-shadow 0.6s, color 0.6s;
}

.navlink-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.reflection {
  width: 1px;
  height: 1px;
  position: absolute;
  left: 50%;
  top: 50%;
  text-align: center;
  transition: box-shadow 0.6s;
}

.navlink-container.active > .reflection {
  box-shadow: 0px 0px 110px 200px #ffffff0f;
}

.navlink-container.active > .navlink, .navlink:hover {
  color: #ffffff;
  text-shadow: 0px 0px 30px #ffffff;
}

.navlinks-list-item {
  /* margin: 0 2rem; */
  width: 7rem;
  display: flex;
  justify-content: center;
}

.navbar-line {
  background-color: #8c8c8c;
  height: 2px;
  width: 100%;
  margin-top: 1rem;
  width: 7rem;
}

.navbar-line.first {
  border-radius: 1px 0px 0px 1px;
}

.navbar-line.last {
  border-radius: 0px 1px 1px 0px;
}

.navlink-container.active > .navbar-line {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 10px 0px #ffffff;
}
