<div id="intro-section" class="root-container">
  <div class="section-content-container">
    <div class="navbar-wrapper">
      <nav class="navbar">
        <ol class="navlinks-list">
          <li class="navlinks-list-item">
            <a class="navlink" href="#intro-section">Intro</a>
          </li>
          <li class="navlinks-list-item">
            <a class="navlink" href="#intro-section">Projects</a>
          </li>
          <li class="navlinks-list-item">
            <a class="navlink" href="#intro-section">Reviews</a>
          </li>
        </ol>
      </nav>
      <div class="navbar-line">
        <div class="navbar-line-child intro"></div>
        <div class="navbar-line-child"></div>
        <div class="navbar-line-child"></div>
      </div>
    </div>
  </div>
</div>
