.estimator-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #ffffff;
}

.selection-wrapper {
  width: 64%;
  background-color: #1c1c1c;
  border: 2px solid #a6a6a6;
  padding: 1rem;
  padding-top: 0;
}

.selection-heading {
  text-align: center;
  font-family: "ubuntu-light";
  font-size: 1.6rem;
  margin: 0;
  margin-top: 2rem;
}

.selection-options {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.option {
  height: 125px;
  width: 32%;
  border: 1px solid #505050;
  font-family: "ubuntu-light";
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: 0.2rem;
  transition: box-shadow 1s ease-out, scale 1s, border 1s;
  cursor: pointer;
}

.option.design {
  width: 49%;
}

.option > .description {
  font-size: 0.8rem;
  color: #e0e0e0;
}

.option > .value {
  font-size: 1.2rem;
}

.option:hover:not(.selected) {
  scale: 1.01;
  border: 1px solid #ffffff;
  -webkit-box-shadow: 0px 0px 20px -5px rgba(255, 255, 255, 1);
  -moz-box-shadow: 0px 0px 20px -5px rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 20px -5px rgba(255, 255, 255, 1);
}

.option.selected {
  border: 1px solid #ffffff;
}

.result-wrapper {
  width: 33%;
  border: 3px solid #ffffff;
  -webkit-box-shadow: 0px 0px 20px -5px rgba(255, 255, 255, 1);
  -moz-box-shadow: 0px 0px 20px -5px rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 20px -5px rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
}

.result-heading {
  font-family: carettere;
  font-size: 2.2rem;
  text-align: center;
}

.summary-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.summary {
  width: 32%;
  text-align: center;
}

.summary:nth-last-child(1) {
  width: 100%;
  text-align: center;
}

.summary-title {
  font-family: "ubuntu-light";
  text-transform: uppercase;
  font-size: 0.9rem;
}

.summary-value {
  font-family: "ubuntu-bold";
  text-transform: uppercase;
  font-size: 0.8rem;
}

@media screen and (max-width: 900px) {
  .estimator-wrapper {
    flex-direction: column;
    gap: 2rem;
  }
  .selection-wrapper,
  .result-wrapper {
    width: 100%;
  }
  .result-wrapper {
    gap: 0;
  }
}

@media screen and (max-width: 599.98px) {
  .selection-heading {
    font-size: 1.4rem;
  }
  .option {
    height: 90px;
    padding: 0.5rem 0;
    justify-content: space-between;
    gap: 0;
  }
  .option > .value {
    font-size: 0.8rem;
  }
  .option > .description {
    font-size: 0.6rem;
  }
  .selection-options.number > .option {
    height: 75px;
  }
  .selection-options.design > .option {
    height: 80px;
  }
  .result-heading {
    font-size: 2rem;
  }
}
