<div id="intro-section" class="root-container">
  <div class="section-content-container">
    <h2 class="section-heading">Quote</h2>
    <div class="estimator-wrapper">
      <div class="selection-wrapper">
        <h3 class="selection-heading">Number of Pages</h3>
        <div class="selection-options">
          <div
            class="option"
            [class.selected]="numberOfPages === '1'"
            (click)="selectionHandle('1', 'number-of-pages')"
          >
            <span class="value">1</span>
            <span class="description">Very simple and focused websites.</span>
          </div>
          <div
            class="option"
            [class.selected]="numberOfPages === '5'"
            (click)="selectionHandle('5', 'number-of-pages')"
          >
            <span class="value">5</span>
            <span class="description"
              >Websites simple and straightforward in nature.</span
            >
          </div>
          <div
            class="option"
            [class.selected]="numberOfPages === '10'"
            (click)="selectionHandle('10', 'number-of-pages')"
          >
            <span class="value">10</span>
            <span class="description"
              >Websites with extensive content and complex structures.</span
            >
          </div>
        </div>
        <h3 class="selection-heading">Design</h3>
        <div class="selection-options">
          <div
            class="option design"
            [class.selected]="designType === 'Basic'"
            (click)="selectionHandle('Basic', 'design')"
          >
            <span class="value">Basic</span>
            <span class="description"
              >Prioritize simplicity, functionality, and
              cost-effectiveness.</span
            >
          </div>
          <div
            class="option design"
            [class.selected]="designType === 'Advanced'"
            (click)="selectionHandle('Advanced', 'design')"
          >
            <span class="value">Advanced/Customised</span>
            <span class="description"
              >Striking online experiences and innovative design. Stand out in
              their industry.</span
            >
          </div>
        </div>
        <h3 class="selection-heading">Type</h3>
        <div class="selection-options">
          <div
            class="option"
            [class.selected]="type === 'Standard'"
            (click)="selectionHandle('Standard', 'type')"
          >
            <span class="value">Standard</span>
            <span class="description"
              >Simple informational website displaying client information,
              services, work, contact info etc.</span
            >
          </div>
          <div
            class="option"
            [class.selected]="type === 'E-Shop'"
            (click)="selectionHandle('E-Shop', 'type')"
          >
            <span class="value">E-Shop</span>
            <span class="description"
              >Website offering a wide array of products for online
              purchase.</span
            >
          </div>
          <div
            class="option"
            [class.selected]="type === 'Bookings'"
            (click)="selectionHandle('Bookings', 'type')"
          >
            <span class="value">Bookings</span>
            <span class="description"
              >Facilitating booking and reservations for various services or
              accommodations.</span
            >
          </div>
        </div>
      </div>
      <div class="result-wrapper">
        <h3 class="result-heading">Estimated Costs</h3>
        <div class="summary-wrapper">
          <div class="summary">
            <p class="summary-title">Pages</p>
            <p class="summary-value">{{ numberOfPages }}</p>
          </div>
          <div class="summary">
            <p class="summary-title">Design</p>
            <p class="summary-value">{{ designType }}</p>
          </div>
          <div class="summary">
            <p class="summary-title">Type</p>
            <p class="summary-value">{{ type }}</p>
          </div>
          <div class="summary">
            <p class="summary-title">Project Duration</p>
            <p class="summary-value">{{ duration ? duration : "" }}</p>
          </div>
        </div>
        <h3 class="result-heading">£{{ totalCost }}</h3>
      </div>
    </div>
  </div>
</div>
