/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.section-content-container {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  padding: 3rem 1.5rem;
}

.section-heading {
  color: #ffffff;
  text-align: center;
  font-family: carettere;
  font-size: 3rem;
  font-weight: normal;
  margin: 0;
  margin-bottom: 4rem;
}

@font-face {
  font-family: ubuntu-medium;
  src: url(assets/fonts/Ubuntu/Ubuntu-Medium.ttf) format("opentype");
}

@font-face {
  font-family: ubuntu-light;
  src: url(assets/fonts/Ubuntu/Ubuntu-Light.ttf) format("opentype");
}

@font-face {
  font-family: ubuntu-bold;
  src: url(assets/fonts/Ubuntu/Ubuntu-Bold.ttf) format("opentype");
}

@font-face {
  font-family: ubuntu-regular;
  src: url(assets/fonts/Ubuntu/Ubuntu-Regular.ttf) format("opentype");
}

@font-face {
  font-family: carettere;
  src: url(assets/fonts/Carattere/Carattere-Regular.ttf) format("opentype");
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@media screen and (max-width: 599.98px) {
  .section-content-container {
    padding: 2rem 1rem;
  }
  .section-heading {
    font-size: 2.2rem;
    margin-bottom: 2rem;
  }
  .project-title {
    font-size: 1.6rem;
  }
  .project-description {
    margin-top: 0.6rem
  }
}
