/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

.section-content-container {
  width: 100%;
  max-width: 1000px;
  margin: auto;
}

@font-face {
  font-family: ubuntu-medium;
  src: url(assets/fonts/Ubuntu/Ubuntu-Medium.ttf) format("opentype");
}

@font-face {
  font-family: carettere;
  src: url(assets/fonts/Carattere/Carattere-Regular.ttf) format("opentype");
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
