/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

.section-content-container {
  width: 100%;
  max-width: 1000px;
  margin: auto;
}

.section-heading {
  color: #ffffff;
  text-align: center;
  font-family: carettere;
  font-size: 3rem;
  font-weight: normal;
  margin: 0;
  margin-bottom: 2.5rem;
}

@font-face {
  font-family: ubuntu-medium;
  src: url(assets/fonts/Ubuntu/Ubuntu-Medium.ttf) format("opentype");
}

@font-face {
  font-family: ubuntu-light;
  src: url(assets/fonts/Ubuntu/Ubuntu-Light.ttf) format("opentype");
}

@font-face {
  font-family: ubuntu-bold;
  src: url(assets/fonts/Ubuntu/Ubuntu-Bold.ttf) format("opentype");
}

@font-face {
  font-family: carettere;
  src: url(assets/fonts/Carattere/Carattere-Regular.ttf) format("opentype");
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
